<html>
<body>

<h1>Event list:</h1>

<h2>Monday:</h2>
{% for x in monday %}
<p>{{x.title}}: {{x.start}} - {{x.end}}</p>
{% endfor %}

<h2>Tuesday:</h2>
{% for x in tuesday %}
<p>{{x.title}}: {{x.start}} - {{x.end}}</p>
{% endfor %}

<h2>Wednesday:</h2>
{% for x in wednesday %}
<p>{{x.title}}: {{x.start}} - {{x.end}}</p>
{% endfor %}

<h2>Thursday:</h2>
{% for x in thursday %}
<p>{{x.title}}: {{x.start}} - {{x.end}}</p>
{% endfor %}

<h2>Friday:</h2>
{% for x in friday %}
<p>{{x.title}}: {{x.start}} - {{x.end}}</p>
{% endfor %}
</body>
</html>